.pane {
    -fx-background-image: url("FlightBackground.png");
    -fx-focus-color: transparent;
    -fx-font-family: 'serif', 'sans-serif';
}

.bigLabel {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.smallLabel {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button {
    -fx-color: #e8fdff;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.radio-button:selected .dot {
    -fx-background-color: #4e9fd9;
}

.combo-box {
    -fx-color: #e8fdff;
}

.datePicker {
    -fx-color: #e8fdff;
}

.spinner {
    -fx-color: #e8fdff;
}