.pane {
    -fx-background-image: url("FlightBackground.png");
    -fx-focus-color: transparent;
    -fx-font-family: 'serif', 'sans-serif', 'fantasy';
}

.bigLabel {
    -fx-font-weight: bold;
}

.button {
    -fx-color: #e8fdff;
}

.comboBox {
    -fx-color: #e8fdff;
}